@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


body{
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to right,#E3E6CF, #BF6097);
    font-family: 'Archivo Black', sans-serif;
}

@media (max-width: 600px) {
    body {
      width: 90%;
    }
  }

header{
    display:grid;
    grid-template-columns: auto;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-area: main;
}


.FooterContainer{
    height: 60px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 60px;

}
